["last run"]
date = "2023-12-31"

[account_name]
path = "./folder_name/"
caption = "sample caption for all videos"
tiktok_uid = "tiktok user id, email"
tiktok_pwd = "tiktok password"
tiktok_cookies = "account_name+_state.json"
insta_uid = "instagram user name"
insta_pwd = "Instagram password"
google_api_key = "your google api key"

</s>ensure you have saved your google credentials json file as google.json in this directory
