<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>CreaSync</title>
        <div>
            <h1>
                <center>
                    Welcome To CreaSync
                </center>
            </h1>
            <h3>
                <center>
                    Schedule Your Uploads NOW!!!
                </center>
            </h3>
        </div>
    </head>
    <body>
        <div>
            <a href="{{ url_for('login') }}" class="button">Login to Facebook</a>
        </div>
    </body>
</html>